body, html{margin:0;padding:0;width:100%; height: 100%;scroll-behavior: smooth;}

a:link { text-decoration: none; }
.bunder{
  border-radius:100%;
  border:solid 2px grey;
  width: 12px;
  height: 12px;
  background-color: transparent;
  display: inline-block;
}

.hrku {
  background: linear-gradient(to right,white, red, white);
  border:0px;
  height: 1px;
}

.hrkuk {
  background: linear-gradient(to right,gold,  white,gold);
  border:0px;
  height: 1px;
}

.hrkuku {
  background: goldenrod;
  border:0px;
  height: 2px;
  border-radius: 1.5px;
}

.blek {   
  background-color:#524949;
}

br {
  content: "";
  margin: 0.5em;
  display: block;
  font-size: 24%;
}
  
#tangan{
  position: relative;  left:-40px;
    top:6px;
  opacity: 0;
  animation: maju 1.5s infinite;
  animation-direction: alternate;
}


#yom{  
  background: linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255)); 
  height:10px; 
  font-size: 0.6vw;
  box-shadow: 10px 5px 8px grey;
  border-color: gold;
  border-top: 2px;  
}

#yom td{
  border-color: gold;
  border-top: 12px;
  border-left: 12px;
  border-right: 12px; 
} 

#yam{ width: 95%;
  height: 100%;
}

#yam td{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7a591b; 
  font-size: 1.5vw;
}

#awak{
  background-color: aliceblue; 
  color: maroon; 
  font-size: 100%;
  font-weight: bold;
  height: 70%;
}

#batok{
  background: linear-gradient(180deg,rgb(255, 255, 255),rgb(161, 157, 149));
  color: maroon;
  font-size: 200%;
  font-weight: bold;
  height: 30%;
}

#batok2{
  background: linear-gradient(180deg,rgb(175, 174, 174),rgb(102, 99, 94));
  color: white;
  font-size: 200%;
  font-weight: bold;
  height: 30%;
}

#batok3{
  background:linear-gradient(45deg,gold,goldenrod,gold,goldenrod,gold);
  color: darkgreen;
  font-size: 2vw;
  /* gae andro 3.5 gae komp 2 */
  font-weight: bold;
}

#batok3 th{
  border-color: gold;
  border-top: 12px;
  border-left: 12px;
  border-right: 12px; 
}

#kotakm div {border-radius:22px;
   background: linear-gradient(45deg,rgb(110, 59, 103),rgb(250, 189, 242)); 
  background: white;width: 10%;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
}  

#kotakm a { color: white;}

#kotakmm td {
  border-radius:22px;
  background: linear-gradient(45deg,rgb(140, 78, 175),rgb(167, 178, 243));
  color: white;
  width: 25%;height: 50%; 
  opacity: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
}

#test td { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
}

.dit{
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer; 
}

#atas {
    height:10%;
    text-align: center;
    vertical-align: middle;
    overflow:hidden;
    position: fixed;
    cursor:pointer;
    top: 0%;
    width: 100%;
    color: rgb(251, 255, 214);
    background: linear-gradient(45deg,rgb(255, 255, 255),rgb(230, 230, 230),rgb(255, 255, 255),rgb(230, 230, 230),rgb(255, 255, 255));
    /* background: linear-gradient(45deg,rgb(255, 255, 255),rgb(175, 229, 250),rgb(255, 255, 255),rgb(175, 229, 250),rgb(255, 255, 255)); */
    opacity: 1;z-index: 200;
    box-shadow: 10px 5px 8px grey;
}

.notif{
  position: absolute;
  color:white;border-radius: 100px;
  width: 30px;height: 30px;
  background-color: red;
  vertical-align: middle;
  font-size: 20px;font-weight: bold;
} 
#subtotal{
  border-radius: 10px; z-index: 1;  
  background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));
  position: fixed;  bottom:0px;  width: 100%; 
  height: 80px;  display: d;
  backdrop-filter: blur(15px); /* Chrome and Opera */
  backdrop-filter: sepia(90%);
  box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 15%);
  background-color: rgb(228 228 228 / 15%);
}


.kelas {
  background: transparent;
  font-weight: bold;
  font-size: 90%;
  color:blue;
  vertical-align: middle;
  word-wrap: break-word; 
}
#s { 
  border: 1px solid coral;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;height: 100%;
  background-color: white;
}
#login { 
 height:40px; 
 border-radius: 12px;
 text-align: center; 
 overflow:hidden;
 position: fixed;
 cursor:pointer;
 top: 4%;
 width: 10%;
 left:90%;
 color: black;
 background-color: yellow;
 opacity: 1;z-index: 2100;
 box-shadow: 10px 5px 8px grey;
 
}

#info {
  visibility: hidden;
  border-radius: 14px;
  height:40px;
  overflow:hidden;
  position: fixed;
  cursor:pointer;    
  bottom:0%;
  width:300px;
  right: -70px;
  color: brown;
  background-color: khaki;
  opacity: 1;z-index:6677;
}

#tombol {
  /* visibility: hidden; */ 
  border-radius: 5px;
  height:30px;
  overflow:hidden;
  position: fixed;
  cursor:pointer;    
  top:5%;
  left:35%;
  width:30%; 
  color: white; 
  opacity: 1;z-index:6677; 
  background: linear-gradient(45deg,grey,silver,grey,silver);
  box-shadow: 10px 8px 5px grey;
}

.biru{color:white;
  border:0px;
  cursor:pointer;
  border-radius: 5px;
  width: 100%;
  height: 100%; 
  background: blue;
  box-shadow: 0 0 18px #fff; 
}

#gambar { 
  border-radius: 5px;
  position: fixed;
  cursor:pointer;  
  z-index:61677; 
}

#tengen { 
  height:150px;
  overflow:hidden;
  position: fixed;
  cursor:pointer;    
  top:50%;
  width:55px;right:15px; 
  color: rgb(0, 0, 0); 
  opacity: 1;z-index: 2002;
}

#k {
  border-radius: 14px;
  height:40px;
  overflow:hidden;
  position: fixed;
  cursor:pointer;
  bottom:10%;
  width:20%;right:15px; 
  height:40%;
  color: brown;
  background-color: khaki;
  opacity: 1;
}

div.bottom { text-align: center;
  vertical-align: bottom;
  position: relative;
  text-align: center; 
  height: 0%;
  width: 100%;
  bottom: 0%;
  border: 0px solid #8c07c0;
} 
 
.lbl{
  opacity: 0.5;
  position: relative;
  left:10px;
  transition: all 2s ;
  font-size: 10px;
  cursor: pointer;
}
 
.dv {
    border-radius: 4px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s ;
    cursor: pointer;color:yellow;
}

.fadeout {
 opacity: 0;
}
 
button {z-index: 20000;
  background-color: transparent;
  font-weight: bold; 
  border:1px solid rgb(3, 207, 146);  
  cursor:pointer;
  border-radius: 10px;
  background: transparent;
  padding:0px 0px 0px 0px;  
  height: 90%;   
} 
input[type=text],[type=password] { 
  font-size: 1.3vw;
  border-radius: 5px; border: 1px solid goldenrod;
  box-shadow: 0px 10px 12px gold; 
  color: red;
  width: 100%;height: 60%;
} 

  input[type=number]{
    font-size: 1.8vw;
    border-radius: 5px; border: 1px solid rgb(2, 161, 114);
    box-shadow: 0px 0px 2px rgb(2, 161, 114);
    font-weight: bold;
    color: rgb(255, 0, 55);
    height: 30%;width: 100%;
    outline: none !important;
    transition: box-shadow 0.5s ease-out 100ms
  }

  input[type=password]{ 
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 58, 189);
  } 
  
  [type=reset] { 
    box-shadow: 0px 0px 2px rgb(2, 161, 114);
    font-weight: bold;
    color:rgb(0, 45, 128);
    border-radius: 5px;
    border:0px;
    cursor: pointer;
    font-size: 2vw;
    width: 100%;height: 100%;
    background: linear-gradient(45deg,rgb(60, 245, 220),rgb(20, 216, 95),rgb(55, 240, 138),rgb(20, 216, 95),rgb(55, 240, 138));

    /* background: linear-gradient(45deg,rgba(255, 127, 80, 0.425),rgba(255, 0, 0, 0.425)); */
  }

  input[type=reset]{    
    color:white;     
    background: linear-gradient(45deg,rgb(245, 138, 106),rgb(216, 59, 20),rgb(245, 138, 106),rgb(216, 59, 20),rgb(245, 138, 106));
  } 

select{ 
  font-size: 1.5vw; 
  cursor:pointer;
  height: 100%;width: 100%;
  font-weight: bold;
  color:#077703;
  border:1px solid goldenrod;
  border-radius: 5px;
  background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));
}
 
#debkred{width: 100%;
  background: linear-gradient(45deg,rgb(110, 59, 103),rgb(250, 189, 242));  
 color: white;
 font-size: 2.5vw;
}

#debkred td{font-size: 2.5vw;}

.cool tr{
  font-size: 100%;
  color: green;
  font-weight: bold;
  text-align: center;
  border-radius: 5px; 
  cursor: pointer; 
  background: linear-gradient(45deg,rgb(224, 224, 221),rgb(201, 199, 195),rgb(224, 224, 221),rgb(201, 199, 195),rgb(224, 224, 221));
}

.submit{
  box-shadow: 5px 5px 5px #888888; border:0px;
  cursor:pointer;
  border-radius: 5px;  
  font-size: 1.5vw;   
  background: linear-gradient(90deg,rgba(255, 174, 0, 0.349),rgba(255, 174, 0, 0.514));width: 100%;height: 60%;  
}
input[type=submit] { 
  box-shadow: 5px 5px 5px #888888;
  border:0px;
  cursor:pointer;
  border-radius: 5px;  
  font-size: 1.5vw; 
  background: linear-gradient(90deg,rgba(255, 174, 0, 0.349),rgba(255, 174, 0, 0.514));width: 100%;height: 60%;
} 

#jth{ width: 95%;
  height: 100%;
}

#jth td{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7a591b; 
  font-size: 1.5vw;
}

#kipur{
  background: linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255));   
font-size: 1.5vw;
color:green;
font-weight: bold;
border-color: gold;
border-top: 2px;  
box-shadow: 10px 5px 8px grey;  
 
}

#kipur td{
border-color: gold;
border-top: 12px;
border-left: 12px;
border-right: 12px;   
}

#jth2{ width: 95%; }

#jth2 td{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #1d9405;
  font-weight: bold;
    font-size: 2.5vw;
}

#jth3 td{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #1d9405;
  font-weight: bold;
    font-size: 1.7vw;
}

#jtabledetail{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #1d9405;
  font-weight: bold;
    font-size: 1.1vw;
}

#jth ::placeholder{ 
  font-size: 2.5vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(3, 192, 88, 0.685);
  font-style: italic;
}

#cloc td{ 
  font-size: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1d9405;
  font-weight: bold;
}

.d{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:red;
  font-size: 2.3vw;
}

.b{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
  font-size: 2.4vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.peng{
  border:1px solid goldenrod;
  width: 200px; height: 200px;
   border-radius: 15px; 
  cursor: pointer;
  color:rgb(7, 94, 7);
  font-size: 1vw;  
  font-weight: bold;
  background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));

  
}
.peng img{
  height: 172px;width: 172px;   
  /* gae android 45 gae komp 80px */
}

.divmain{
    /* gae andro  120,100 gae komp 350px,300px  */
  font-size:1.5vw; 
  border-radius: 12px;  
  width: 350px;height: 300px; border: 0px solid silver; 
}

.wmain{
  /* 70px gae android,200px gae komp */
  width: 80px;height: 80px;
}

.imgmain{
  /* 70px gae android,200px gae komp */
  width: 165px;height: 165px;
}
.imgatas{
  /* 45px gae android,50px gae komp */
  height: 30px;width: 30px;
}
.pag{
  color: #1d9405;
  vertical-align: top;font-size:1vw;
}
.desc{
  color: #1d9405;
  vertical-align: top;font-size:1.5vw;
}
.desc3{
  color: rgb(126, 64, 41);;
  vertical-align: top;font-size:1vw;
  font-weight: bold;
}
.desc4{
  color: rgb(126, 64, 41);;
  vertical-align: top;font-size:1.5vw;
  font-weight: bold;
}

.desc2{
  font-weight: bold;
  vertical-align: top;font-size:2.5vw;
  color:red;
}
.duit{
  /* gae android 3vw   gae komp 1.5 */
  vertical-align: top;font-size:1.5vw;
}
.serv{ 
  color:darkblue;font-weight: bold;font-size: 0.9vw;
}
.serc{ 
  background-color: white;  border:0px solid coral;font-size:0.8vw; width: 100%;
  height:100% 
}
.sec{
  /* gae android 2.5vw   gae komp 1.5 */
  vertical-align: top;font-size:1.2vw ;
}
.tombolshop{
  /*  font-size: 0.8vw; , font-size: 3vw; gae android */
  font-size:0.8vw; font-weight:bold
}
.so{
  vertical-align: top;font-size:2vw;font-weight: bold;
}

.emas{
  font-size: 1.3vw;
  border-radius: 5px; border: 1px solid goldenrod;
  box-shadow: 0px 10px 12px gold; 
  color: red;
  width: 40%;  
}

.r td{
  color: #1d9405;
  vertical-align: top;font-size:1vw;
}
.r input[type=date]{
  border:0px solid ;
  background-color: transparent;
  color: #855381;
  vertical-align: top;font-size:1vw;
}

@media screen and (max-width: 800px) {
  
  select{ 
    font-size: 2.5vw; 
    cursor:pointer;
    height: 100%;width: 100%;
    font-weight: bold;
    color:#077703;
    border:1px solid goldenrod;
    border-radius: 5px;
    background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));
  }
  #batok3{
    background:linear-gradient(45deg,gold,goldenrod,gold,goldenrod,gold);
    color: darkgreen;
    font-size: 3vw;
    /* gae andro 3.5 gae komp 2 */
    font-weight: bold;
  } 
  .submit{
    box-shadow: 5px 5px 5px #888888;
    border:0px;
    cursor:pointer;
    border-radius: 5px;  
    font-size:2.5vw; 
    /* background: linear-gradient(90deg,rgba(255, 174, 0, 0.349),rgba(255, 174, 0, 0.514)); */
    background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));
    border: 1px solid green;
    
  }
  input[type=submit] { 
    box-shadow: 5px 5px 5px #888888;
    border:0px;
    cursor:pointer;
    border-radius: 5px;  
    font-size: 2.5vw; 
    background: linear-gradient(90deg,rgba(255, 174, 0, 0.349),rgba(255, 174, 0, 0.514));width: 100%;height: 60%;
  } 

  #jth{ width: 95%;
    height: 100%;
  }
  
  #jth td{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: #79631b; 
    font-size: 2.5vw;
    font-weight: bold;
  }

  
  #kipur{
      background: linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255));   
    font-size: 2.5vw;
    color:green;
    font-weight: bold;
    border-color: gold;
    border-top: 2px;  
    box-shadow: 10px 5px 8px grey;  
 
  }
  
  #kipur td{ 
    border-color: gold;
    border-top: 12px;
    border-left: 12px;
    border-right: 12px;  
  }
  .peng{
    border:1px solid goldenrod;
    width: 120px; height: 120px;     
     border-radius: 15px; 
    cursor: pointer;
    color:rgb(7, 94, 7);
    font-size: 1vw; 
    /* gae andro 3.3 gae komp 1 */
    font-weight: bold;
    background: linear-gradient(45deg,rgb(255, 255, 255,0.45),rgba(255, 217, 0, 0.329),rgb(255, 255, 255,0.45));
  }
  .peng img{
    height: 100px;width: 100px;   
    /* gae android 45 gae komp 80px */
  }

  .emas{
    font-size: 3.3vw;
    border-radius: 5px; border: 1px solid goldenrod;
    box-shadow: 0px 10px 12px gold; 
    color: red;
    width: 60%;  
  }
  /* ,[type=date] */
  input[type=text],[type=password] {
    font-size: 3.3vw;
    border-radius: 5px; border: 1px solid goldenrod;
    box-shadow: 0px 10px 12px gold; 
    color: red;
    width: 100%;height: 60%;
  } 

  .divmain{
    /* gae andro  120,100 gae komp 350px,300px  */
  font-size:1.5vw; 
  border-radius: 12px;  
  width: 120px;height: 100px; border: 0px solid silver; 
  }

  .imgmain{
  /* 70px gae android,200px gae komp */
  width: 70px;height: 70px;
  }

  .sec{
    /* gae android 2.5vw   gae komp 1.5 */
    vertical-align: top;font-size:2.5vw ;
  }

  .desc{
    /* gae android 2.5vw   gae komp 1.5 */
    color: #1d9405;
    vertical-align: top;font-size:2.5vw ;
  }
  .desc2{
    font-weight: bold;
    vertical-align: top;font-size:3.5vw;
    color:red;
  }
  .desc3{
    /* gae android 2.5vw   gae komp 1.5 */
    color: rgb(126, 64, 41);
    vertical-align: top;font-size:2.5vw ;
    font-weight: bold;
  }
  .desc4{
    color: rgb(126, 64, 41);;
    vertical-align: top;font-size:2.5vw;
    font-weight: bold;
  }
  .serv{
    color:darkblue;font-weight: bold;font-size: 2.5vw;
  }
  .serc{
    background-color: white;  border:0px solid coral;font-size:3vw; width: 100%; 
    height: 100%; 
  }
  .imgatas{ 
    height: 30px;width: 30px;
  } 
  .tombolshop{
     
    font-size: 3vw; font-weight:bold
  }
  .so{    
    vertical-align: top;font-size:4.5vw;font-weight: bold;
  }
  .duit{
    vertical-align: top;font-size:3vw;
  } 
  .pag{
    color: #1d9405;
    vertical-align: top;font-size:3vw;
  }
  .r td{
    color: #1d9405;
    vertical-align: top;font-size:3vw;
  }
  .r input[type=date]{
    border:0px solid ;
    background-color: transparent;
    color: #855381;
    vertical-align: top;font-size:3vw;
  }
}